.flipped {
  pointer-events: none;
}

img {
  border-radius: 5px;
}

.matched {
  animation-duration: 2.3s;
  animation-name: match;
}

.no-match {
  animation-duration: 2.3s;
  animation-name: no-match;
}

.tile {
  background: #ed643c;
  border-radius: 5px;
  user-select: none;
}

.tile:hover {
  background: #f28b3f;
  cursor: pointer;
}

.unflipped {
  filter: opacity(0%);
}

@keyframes match {
  from {
    box-shadow: 0px 0px 0px 4px #3ea71e;
  }

  to {
    box-shadow: 0;
  }
}

@keyframes no-match {
  from {
    box-shadow: 0px 0px 0px 4px #f28444;
  }

  to {
    box-shadow: 0;
  }
}
